.logo {width:30px;height:30px;}
.menu-icon {width:30px;height:30px;}
.navbar-brand {margin:0 auto}
.nav-wrap {background-color:lightblue;position:absolute;top:56px;width:100%;z-index: 10;}


.h-fixed {position:fixed;left:0;right:0;width:100%;z-index:10;}



.menu-icon-wp .menu-icon {transition: all 0.2s;}
.menu-icon-wp.true .menu-icon {transform: rotate(-45deg);
}


.main-layout {}
.main-slide  .swiper {padding: 0 10%}
.main-slide .swiper-wrapper  {}
.main-slide .swiper-wrapper img {width:100%;max-width: 100%;}
.main-slide .swiper-wrapper .swiper-slide {background:lightgrey;}

.shoesItem {border: 1px dashed grey;margin:20px}

.content-wp {text-align: left;}

.cart-list {width:80%;margin:0 auto}
.cart-list img.object-cover {width:80%;max-width: 100%;}

/*-------------------accordion------------------------------------------------------*/
.wrapper {
 
}
.accordion-wrapper2 + * {
  margin-top: 0.5em;
}
.accordion-item2 {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}
.accordion-item2.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}
.accordion-title2 {
  font-weight: 600;
  cursor: pointer;
  color: #666;
  padding: 0.5em 1.5em;
  border: solid 1px #ccc;
  border-radius: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:10px;
}
.accordion-title2::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
}
.accordion-title2:hover,
.accordion-title2.open {
  color: black;
}
.accordion-title2.open::after {
  content: "";
  border-top: 0;
  border-bottom: 5px solid;
}
.accordion-content2 {
  padding: 1em 1.5em;
}
/*--------------------------------------------------------------------------*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
